body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff!important; 
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e1f20;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 850px) {
    .menu li a {
        font-size: 22px;
    }
    .menu p {
        font-size: 20px; 
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background-color: #1e1f20;
    overflow-y: auto;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1001;
}

.menu.open {
    left: 0;
}

.menu .close-icon {
    padding: 8px;
    display: none;
    width: 48px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 10px;
}

.menu .close-icon:hover {
    border-radius: 50%;
    background-color: #424242;
}

.menu h1 {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}

.menu p {
    padding: 0;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: -30px;
}

.menu li {
    list-style-type: none;
    width: 100%;
}

.menu li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 10px;
    margin-left: -35px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: calc(100% - 20px);
}

.menu li a:hover {
    background-color: #303030;
    border-radius: 5px;
}

.close-icon {
    display: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons {
    display: flex;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.icon-container:hover {
  
    background-color: #424242;
}

.logo:hover {
    color: #ffffff;
    opacity: 75%;
    text-decoration: none!important;

}

.input-container {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
}

.input-container img.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input-container input:focus {
    outline: none;
}

.input-container input::placeholder {
    color: white;
    opacity: 0.7;
}


.footer-address {
    font-style: italic;
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 80px; 
}

@media (min-width: 576px) {
    .col-md-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    margin: 10px 0;
}

.categoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    font-size: 50px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {

    background-color: #1e1f20;
}

.card-title, .card-text {
    color: #ffffff;
}

.card-img-top.img-hovered {
   
    padding: 10px;
}

@media (max-width: 850px) {
    .top-bar {
        justify-content: space-between;
    }
    .logo {
        margin: 0;
    }
    .icons {
        justify-content: flex-end;
    }
}

/* Estilo para o cabeçalho */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e1f20;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 850px) {
    .menu li a {
        font-size: 22px; 
    }

    .menu p {
        font-size: 20px; 
    }
}

.close-icon {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.menu a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.top-bar {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.icons a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo:hover {
    background-color: #1e1f20;
}

.menu-icon {
    padding: 0px;
    cursor: pointer;
    margin-left: -0px;
    transition: background-color 0.3s;
    width: 47px;
}

.menu-icon img {
    width: 35px;
}

.menu-icon:hover {
    padding: 1px!important;
    background-color: #424242;
    border-radius: 50%;
}

.icons {
    display: flex;
    align-items: center;
   
}

.icon-container {
    padding: 10px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -12px;
    margin-right: 20px;
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    transition: background-color 0.3s;
}

.icon-container:hover {
   margin-top: -10px;
    
    padding: 1px;
}

.icons img {
    margin-top: -1px!important;
    padding: 2px;
    text-decoration: none;
    margin-top: 12px;
    width: 40px;
}

.img1:hover img{
    padding: 10px;
   
   }
   
   .img1 img {
    padding: 5px;
   }

.input-container {
    margin-left: 10px;
    position: relative;
    width: calc(100% - 20px); 
    margin: 10px 10px 8 -10px; 
}

.input-container input {
    
    width: 100%;
    height: 45px;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 0 10px 0 40px; 
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-container img.search-icon {
    position: absolute;
    left: 12px; 
    top: 40%;
    transform: translateY(-40%);
    width: 20px; 
    height: 20px; 
}

.input-container input:focus {
    outline: none;
}

.input-container input::placeholder {
    color: white;
    opacity: 0.7;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background-color: #1e1f20;
    overflow-y: auto;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1001;
    margin-top: 0;
}

.menu h1 {
   margin-top: 10px;
    margin-left: -28px;
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}

.menu p {
    margin-left: -30px;
    padding: 0;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
}

.menu li {
    list-style-type: none;
    width: 100%;
}

.menu li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 10px;
    margin-left: -35px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: calc(100% - 20px);
}

.menu li a:hover {
    background-color: #303030;
    border-radius: 5px;
}

.menu.open {
    left: 0;
}

.menu.open .close-icon {
    display: block;
}

.menu .close-icon {
    padding: 8px;
    display: none;
    width: 48px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 10px;
}

.close-icon:hover {
    padding: 8px;
    border-radius: 50%;
    background-color: #424242;
}

@media (max-width: 850px) {
    .top-bar {
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        margin: 0;
    }

    .icons {
        justify-content: flex-end;
        width: auto;
    }
}

.card-one {
    margin-top: 155px;
    margin-bottom: 20px;
}

.card {
    background-color: #1e1f20;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 6px !important;
}

.card .card-title {
    color: #f8f9fa;
}

.card .card-text {
    color: #d1d1d1;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.product-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title,
.card-text {
    color: white;
}

#banner {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

#banner img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer .informacoesempresa h4 {
    font-weight: bold;
    font-size: 50px;
}

#product-list {
    padding: 0 15px;
}

footer {
    background-color: #151515;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.footer-address {
    font-style: italic;
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

body {
    background-color: #1e1f20;
}

.card {
    border-radius: 6px !important;
    background-color: #1e1f20;
}

.card-title,
.card-text {
    color: #ffffff;
}

.produtos-categoria {
    margin-top: 20px;
}

.produtos-categoria .col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.produtos-categoria .card {
    width: 100%;
    max-width: 300px;
}

#menu {
    display: none;
}

#menu.open {
    display: block;
}

.menu-item {
    list-style: none;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu-item a:hover {
    background-color: #ddd;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



#headset {
    position: relative;
}

#headset {
    padding: 10px;
}

.card-img-top {
    transition: all 0.4s ease-in-out;
}

h4 {
    font-size: 50px; 
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.categoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    margin: 10px 0;
}

#headset {
    position: relative;
}

#headset {
    padding: 10px;
}

.card-img-top {
    transition: all 0.4s ease-in-out;
}


h4 {
    font-size: 50px; /* Ajuste o tamanho conforme necessário */
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.categoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 576px) {
    .col-md-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#headset {
    position: relative;
}

#headset {
    padding: 10px;
}

.card-img-top {
    border-radius: 6px !important;
    transition: all 0.4s ease-in-out;
}


@media (max-width: 767px) {
    .card {
        margin-bottom: 15px;
    }

    .card-img-top {
        height: 180px;
        object-fit: cover;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }

    .footer-links {
        font-size: 14px;
    }

    footer .informacoesempresa h4 {
        font-size: 30px;
    }
}

@media (min-width: 768px) {
    .card-img-top {
        height: 300px;
        object-fit: cover;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-text {
        font-size: 16px;
    }

    .footer-links {
        font-size: 16px;
    }

    footer .informacoesempresa h4 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .card-img-top {
        height: 320px;
    }
}

@media (min-width: 1200px) {
    .card-img-top {
        height: 350px;
    }
}


.categoria h4 {
    font-size: 16px;
}

.categoria {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.categoria h4  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
    text-transform: capitalize; 
}

#message {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posição fixa para ficar no centro da página */
    margin-top: 80%; 
    left: 50%; /* Alinha ao centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o elemento */
    background-color:#1e1f20; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    font-family: Verdana, Arial, sans-serif; /* Fonte Verdana */
    font-weight: bold; /* Texto em negrito */
    color: #ed0303 !important; /* Cor do texto azul */
    text-align: center; /* Alinhamento central do texto */
    max-width: 80%; /* Largura máxima */
    z-index: 1000; /* Z-index alto para ficar sobre outros elementos */
}



.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icon-container {
    margin-right: 10px; /* Espaçamento entre os ícones */
}

/**/
.product-card {
    background-color: #1e1f20;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card .card-img-top {
    transition: transform 0.3s ease;
}

.product-card:hover .card-img-top {
    transform: scale(1.1);
}

.product-card .card-img-top {
    max-width: 100%; /* Define a largura máxima para a imagem */
    height: auto; /* Altura ajustável para manter a proporção original */
    display: block; /* Garante que a imagem se comporte corretamente */
    border-radius: 8px 8px 0 0; /* Adiciona um arredondamento nos cantos superiores */
    transition: transform 0.3s ease;
}

.product-card:hover .card-img-top {
    transform: scale(1.1);
}

.categoria h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px; /* Tamanho da fonte desejado */
    font-weight: bold; /* Peso da fonte, se necessário */
    margin-bottom: 10px; /* Espaçamento opcional abaixo do título */
    color: #333; /* Cor do texto */
}

.produto-preco {
    font-weight: bold;
    font-size: 20px; 
   
}

